.footer{
    background-color: rgb(230, 31, 31);
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer > .icons{
    color: white;
    cursor: pointer;
}
.footer > .icons > i{
    margin: 0 1.5rem;
}